################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularStarter/.vs
/AngularStarter/AngularStarter.Web/bin
/AngularStarter/packages
/AngularStarter/AngularStarter.Web/node_modules
/AngularStarter/AngularStarter.Web/obj/Debug
